#root {
	background-color: rgb(242, 242, 242);
}
div.right-side{
	display: inline-block;
	width: auto;
	min-width: 60%;
	max-width: 78%;
	float: left;
	padding-top: 3.1rem;
	padding-left: 1.5rem;
	padding-right: 2rem;
	padding-bottom: 4rem;
	background-color: rgb(242, 242, 242);
}
