<!-- for columns -->
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event) class="mat-elevation-z8 demo-table">
        @for (column of columns; track column) {
          <ng-container [matColumnDef]="column.columnDef">
            <th mat-header-cell *matHeaderCellDef>
              {{column.header}}
            </th>
            <td mat-cell *matCellDef="let row">
              {{column.cell(row)}}
            </td>
          </ng-container>
        }
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>















<!-- sorting  -->
<table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
       class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="sku">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by sku">
            No.
        </th>
        <td mat-cell *matCellDef="let merch"> {{merch.sku}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name">
            Name
        </th>
        <td mat-cell *matCellDef="let merch"> {{merch.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="cost">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by cost">
            Cost
        </th>
        <td mat-cell *matCellDef="let merch"> {{merch.cost}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by price">
            Price
        </th>
        <td mat-cell *matCellDef="let merch"> {{merch.price}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by brand">
            brand
        </th>
        <td mat-cell *matCellDef="let merch"> {{merch.brand}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="department">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by department">
            department
        </th>
        <td mat-cell *matCellDef="let merch"> {{merch.department}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by status">
            Status
        </th>
        <td mat-cell *matCellDef="let merch"> {{merch.status}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   [pageSize]="8"
                   aria-label="Select page"
                   showFirstLastButtons>
    </mat-paginator>
</table>


    <!-- sorting & pagination -->
<!--
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>

        <ng-container matColumnDef="color">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Color </th>
          <td mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div> -->
